* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --black: #171616;
    --dividers: #17161615;
    --formBorder: #1716165e;
    --primary: #7C6354;
    --secondary: #61C7C9;
    --darkSecondary: #557C7D;
    --darkSecondaryActive: #476667;
    --lightPrimary: #C9AE9D;

}

html {
    scroll-behavior: smooth;
}

body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

body {
    max-width: 3240px;
    margin: auto;
}

/* NAVBAR */

li,
a,
button {
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}

.hero-container h1 {
    color: var(--black);
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    overflow: hidden;
    border-bottom: 1px solid var(--dividers);
    height: 8vh;
}

.right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-links li {
    font-size: 40px;

}


.nav-divider {
    width: 1px;
    height: 20px;
    display: none;
}

.socials-right-a {
    display: flex;
    justify-content: center;
}

.cta-btn button {
    display: none;
}

.socials-mob {
    height: 30px;
    width: 30px;
}

.socials-desk {
    display: none;
}

.burger {
    display: block;
    cursor: pointer;
}

.burger .line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background-color: rgb(209, 209, 209);

}



.fb {
    margin-right: 10px;
    cursor: pointer;
}

.ig {
    cursor: pointer;
}

/* Copy pasta burger */

.topnav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
    transition: transform 0.5s ease;
}

.topnav.show .line2 {
    opacity: 0;
    transition: 0.2s;
}

.topnav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
    transition: transform 0.5s ease;
}

.topnav.show .nav-links {
    transform: translateX(0%);
}

.nav-links {
    position: fixed;
    display: flex;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    transform: translateX(100%);
    transition: transform 1s ease;
    border: 1px solid var(--dividers);
    border-top: none;
}

.nav-links li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: -20%;
}

.nav-links li a:hover::after {
    width: 100%;
    height: 1px;
    background-color: var(--lightPrimary);
}

.nav-links>li>a {
    display: block;
    height: 100%;
    position: relative;
    margin-top: 10%;
    font-size: 28px;

}



/* HERO SECTION - MOBILE */

.hero-container {
    width: 100%;
    /* border: 1px solid black; */
}

.hero-container>* {
    font-family: 'Cormorant', serif;
}

.heading-container {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pre-head-container {
    margin-bottom: 20px;

}

.pre-head-container h3 {
    font-size: 20px;
    font-weight: 300;
}

.main-head-container {
    margin-bottom: 20px;
    font-family: 'Dancing Script';
    font-size: 20px;
}

.sub-head-container h2 {
    font-size: 18px;
}

/*IMG-HERO*/

.img-hero-container {
    display: flex;
    width: 100%;
    height: auto;

}



.img-hero {
    flex: 50%;
    width: 50%;

}

.img-hero img {
    max-width: 100%;
}



/*IMAGE BUTTON*/

.hero-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.hero-btn-container>a>button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--darkSecondary);
    color: white;
    border-color: var(--darkSecondaryActive);
    border-style: none;
    transition: .2s;
}



.hero-btn-container>a>button:hover {
    background-color: var(--darkSecondaryActive);
    color: white;
    border-color: var(--darkSecondaryActive);
}

.section-divider {
    width: 100%;
    height: 1px;
    background-color: var(--dividers);
    margin-top: 112px;
    margin-bottom: 112px;
}

/*OM-OSS*/

.om-oss-container {
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant', serif;
    color: var(--black);

}

.om-oss-text1,
.om-oss-text2 {
    padding: 0 10px 0 10px;
}

.om-oss-p {
    font-family: 'Raleway', serif;
    color: var(--black);
    font-size: 18px;
    line-height: 24px;
}

.om-oss-item img {
    max-width: 100%;
}

.om-oss-img1 {
    margin-top: 28px;
    margin-bottom: 56px;
}

.om-oss-img2 {
    margin-top: 28px;
}


.om-oss-header {
    margin-bottom: 8px;
    font-size: 32px;

}


/* Produkter */

.section-header {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
}

.section-header-container {
    margin-bottom: 56px;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr;
}

.product-card {
    text-align: center;
    max-width: 300px;
    margin: auto;
    margin-bottom: 56px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
}

.product-name,
.price,
.description {
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    font-weight: 500;
}



/* Åpning/Kart */

.aapning-container {
    display: grid;
    margin-bottom: 56px;
}

.dager {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid var(--dividers);
    padding: 14px 0 14px 0;

}

.man {
    border-top: 1px solid var(--dividers);
}

.tid {
    font-family: 'Raleway', serif;
    font-size: 18px;

}



.aapning-kart-grid h4 {
    font-family: 'Cormorant', serif;
    font-size: 24px;
}

.aapning-kart-grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

.kart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 0 56px 0;
    background-color: var(--lightPrimary);

}

.kart {
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}


/* Contact Form */



.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    max-width: 100%;
    margin-bottom: 56px;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}

.form-item {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form-item input,
textarea {
    padding: 8px 4px;
    border-radius: 10px;
    border: 0.5px solid var(--formBorder);
    outline: none;
    resize: none;
}

.form-item input:focus,
.form-item textarea:focus {
    border: 0.5px solid var(--black);
}

.form-item [type=text],
.form-item [type=textarea] {
    font-family: 'Raleway', sans-serif;
}

.form-item>label {
    padding: 0 0 8px 4px;
}

input[type=submit] {
    background-color: var(--darkSecondary);
    border: 0;
    padding: 12px 0 12px 0;
    font-size: 16px;
    color: white;
    width: 40%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--darkSecondaryActive);
    transition: .2s;

}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontaktskjema-header {
    margin-bottom: 56px;
}

.textarea-item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.textarea {
    height: 100%;
}



/*Footer*/

.footer {
    text-align: center;
    padding: 10px 0 10px 0;
}


/* iPad */

@media screen and (min-width: 768px) {



    .main-container {
        max-width: 1260px;
        margin: auto;
    }

    .om-oss-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 50px;
    }

    .om-oss-text2 {
        order: 4;
    }


    /* Produkter iPad */

    .products-container {
        grid-template-columns: 1fr 1fr;
    }


}


/* LAPTOP */

@media screen and (min-width: 960px) {

    .hero-container h1 {
        font-size: 72px;
    }

    .hero-container h2 {
        font-size: 28px;
    }

    .hero-container h3 {
        font-size: 24px;
    }

    /* NAVBAR */
    li,
    a,
    button {
        font-size: 16px;
        font-weight: 600;
        color: var(--black);
    }

    .nav-links>li>a {
        font-size: 21px;
        margin-top: 0;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 5%;
        overflow: hidden;
        border-bottom: 1px solid var(--dividers);
        height: 8vh;
    }



    .burger {
        display: none;
    }

    .socials-desk {
        display: inline-block;
        height: 38px;
        width: 38px;
    }

    .left-container {
        display: none;
    }

    .nav-links {
        all: unset;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-around;

    }

    .nav-links li {
        all: unset;
        display: inline-block;
        margin-right: 50px;
    }



    .nav-link {
        color: var(--black);
        letter-spacing: 2px;
        font-weight: 500;
    }

    .cta-btn button {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: var(--darkSecondary);
        color: white;
        letter-spacing: 1px;
        margin-right: 30px;
        cursor: pointer;
        transition: .2s;
    }

    .cta-btn button:hover {
        background-color: var(--darkSecondaryActive);
    }

    .hero-btn-container>a>button {
        color: var(--darkSecondary);
        background-color: white;
        border: 1px solid var(--darkSecondary);
    }

    .nav-divider {
        width: 1px;
        height: 20px;
        display: inline-block;
        margin-right: 30px;
        background-color: var(--dividers);
    }

    .fb-desk {
        margin-right: 10px;
        cursor: pointer;
    }

    .ig-desk {
        cursor: pointer;
    }

    .hero-btn-container button {
        font-size: 24px;
        background-color: white;
        color: var(--darkSecondary);
        border: 1px solid var(--darkSecondary);

    }

    /* produkter laptop */

    .products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .aapning-container {
        margin-bottom: 0;
    }

    .aapning-kart-grid {
        justify-content: space-around;
        grid-template-columns: 40% 60%;
    }

    .kart-container {
        margin-top: 0;
    }


}